<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>OpenCatWeb</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/fa.solid.css" />
    <link rel="stylesheet" href="css/vue.slider.css" />
    <link rel="stylesheet" href="css/ocw.main.css" />
</head>
<body>
<div id="app">
    <nav id="menu">
        <input id="menu-open" type="checkbox" ref="menuOpen" v-model="menuOpen" />
        <label class="menu-open-button" for="menu-open">
            <span class="menu-line line-1"></span>
            <span class="menu-line line-2"></span>
            <span class="menu-line line-3"></span>
        </label>
        <a class="menu-item item-1" v-on:click="menuOpenPage($event)">
            <i class="fas fa-cat"></i>
        </a>
        <a class="menu-item item-2" v-on:click="menuOpenPage($event)">
            <i class="fas fa-paw"></i>
        </a>
        <a class="menu-item item-3" v-on:click="menuOpenPage($event)">
            <i class="fas fa-ellipsis-h"></i>
        </a>
    </nav>
    <div id="page-1" class="page" style="display: none;" v-show="page == 1">
        <div id="status"></div>
        <div id="buttons">
            <div class="button" :id="button.command" :ref="button.command" v-on:click="buttonCommand($event)" v-for="button in buttons">
                <span class="name">{{ button.name }}</span>
            </div>
        </div>
        <div id="controller">
            <div class="actions">
                <div id="d" class="action" v-on:click="actionCommand($event)">
                    <i class="fas fa-power-off"></i>
                </div>
            </div>
            <div class="joysticks">
                <div id="left" class="joystick"></div>
                <div id="right" class="joystick"></div>
            </div>
        </div>
    </div>
    <div id="page-2" class="page" style="display: none;" v-show="page == 2">
        <div id="settings">
            <div class="setting">
                <input id="autoupdate" type="checkbox" ref="autoUpdate" v-model="autoUpdate" />
                <label for="autoupdate">Auto update</label>
            </div>
            <div class="setting">
                <input id="lazyupdate" type="checkbox" ref="lazyUpdate" v-model="lazyUpdate" @change="lazyUpdateChange($event)" />
                <label for="lazyupdate">Lazy update</label>
            </div>
        </div>
        <div id="sliders">
            <div :id="slider.mid" :class="slider.style" v-for="slider in sliders">
                <div class="sync">
                    <input :id="slider.sid" type="checkbox" v-model="$data[slider.bid]['sync']" />
                    <label :title="slider.id" :for="slider.sid">{{ slider.name }}</label>
                </div>
                <vue-slider
                        :ref="slider.mid"
                        v-bind="$data[slider.bid]"
                        v-model="$data[slider.mid]"
                        @change="change(slider.id)"
                        @drag-start="dragstart(slider.id)"
                        @drag-end="dragend(slider.id)">
                </vue-slider>
            </div>
        </div>
        <div id="commands">
            <input class="command" type="input" placeholder="Send command..." ref="command" v-model="command" v-on:keyup.enter="commandWrite" />
        </div>
    </div>
    <div id="page-3" class="page" style="display: none;" v-show="page == 3">
        <span class="more">More to come...</span>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/nipple.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/vue.slider.min.js"></script>
<script src="js/ocw.log.js"></script>
<script src="js/ocw.api.js"></script>
<script src="js/ocw.main.js"></script>
</body>
</html>
